html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #121212;
}

.container {
  position: relative;
}

canvas {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
